/* 
COLORS
#2299ff
#bbbbcc
#446677
#88aabb
#559944
*/
.jumbotron {
  margin: 0;
  padding: 30px;
  background: rgb(34, 153, 255);
  background: linear-gradient(
    90deg,
    rgba(34, 153, 255, 1) 0%,
    rgba(187, 187, 204, 1) 50%,
    rgba(136, 170, 187, 1) 100%
  );
  color: white;
}

.btn-primary {
  background-color: #446677;
  border: none;
}

.btn-primary:hover {
  background-color: #556666;
  border: none;
}

.row-content {
  padding: 50px 0;
  min-height: 200px;
}
