/* 
COLORS:
DULL
#5599cc
#bbcccc
#556666
#99aaaa
#668855
VIBRANT
#2299ff
#bbbbcc
#446677
#88aabb
#559944
*/
.btn-primary {
  background-color: #559944;
  border: none;
}

.btn-primary:hover {
  background-color: #668855;
  border: none;
}

.btn-primary:focus {
  box-shadow: none;
}

#mainCarousel {
  margin-top: 90px;
  height: calc(100vh - 90px);
}

.carousel-item img {
  height: calc(100vh - 90px);
  object-fit: cover;
}

.row-content {
  padding: 50px 0;
  min-height: 200px;
}

.carousel-caption {
  color: white;
  right: 58%;
  text-align: center;
  max-width: 500px;
  left: auto;
  /*top: auto;*/
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.item {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#bookingBanner {
  padding: 6rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../images/booking-banner.jpg");
  background-size: cover;
}

#services {
  padding: 6rem 0;
}
