/* COLORS */
$color-primary: #559944;
$color-primary-hover: #668855;
$color-dark: #4d1240;
$color-black-tint: rgba(0, 0, 0, 0.7);

// TYPOGRAPHY
$body-font: "Open Sans", sans-serif;

.color-primary {
  background-color: $color-primary;
  border: none;
}

.color-primary:hover {
  background-color: $color-primary-hover;
  border: none;
}

.color-primary:focus {
  box-shadow: none;
}

.color-dark {
  background-color: $color-dark;
}

body {
  font-family: $body-font;
}

#mainCarousel {
  margin-top: 90px;
  height: calc(100vh - 90px);
}

.carousel-item img {
  height: calc(100vh - 90px);
  object-fit: cover;
}

.row-content {
  padding: 50px 0;
  min-height: 200px;
}

.carousel-caption {
  color: white;
  right: 58%;
  text-align: center;
  max-width: 500px;
  left: auto;
  /*top: auto;*/
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.item {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#bookingBanner {
  padding: 6rem 0;
  background: linear-gradient($color-black-tint, $color-black-tint),
    url("../images/booking-banner.jpg");
  background-size: cover;
}

#services {
  padding: 6rem 0;
}
