/* 
COLORS:
DULL
#5599cc
#bbcccc
#556666
#99aaaa
#668855
VIBRANT
#2299ff
#bbbbcc
#446677
#88aabb
#559944
*/
.jumbotron {
  margin: 0;
  padding: 30px;
  background: rgb(34, 153, 255);
  background: linear-gradient(
    90deg,
    rgba(34, 153, 255, 1) 0%,
    rgba(187, 187, 204, 1) 50%,
    rgba(136, 170, 187, 1) 100%
  );
  color: white;
}

.btn-primary {
  background-color: #559944;
  border: none;
}

.btn-primary:hover {
  background-color: #668855;
  border: none;
}

.btn-primary:focus {
  box-shadow: none;
}

.navbar {
  background-color: #446677;
}

#mainCarousel,
#mainCarousel img {
  height: 100vh;
}

.row-content {
  padding: 50px 0;
  min-height: 200px;
}
